<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Test</ion-list-header>
          <ion-note>test-app</ion-note>
<!-- 
          @for (p of appPages; track p; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p + '-outline'" [md]="p + '-sharp'"></ion-icon>
                <ion-label></ion-label>
              </ion-item>
            </ion-menu-toggle>
          } -->
        </ion-list> 


      </ion-content>
    </ion-menu>

    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
